:root{
  --displayType: none;
}

.cardContainer {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: 0.5rem;
  position: relative;
}

.cardContainer:hover{
  --displayType: flex
}

.bannerImg {
  height: 16rem;
  width: 100%;
  object-position: center;
}

.likeContainer {
  position: absolute;
  top: 0;
  height: 16rem;
  width: 100%;
  background-color: rgba(69, 69, 69, 0.547);
  display: var(--displayType);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}

.userInfoContainer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
}

.userInfoContainer img {
  height: 4rem;
  width: 4rem;
  border-radius: 999rem;
}

.userInfoContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.userInfoContainer h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.userInfoContainer h5 {
  font-weight: 300;
  font-size: 1rem;
  color: gray;
  margin: 0;
}
